<html>
<head>
<script src="angular.min.js"></script>
</head>
<body ng-app="myApp
<div ng-controller="sController">
<table border="2" width="300px">
<tr bgcolor="skyBlue">
<th><a href="ng-click='x=!x';y='sId'">studentId</a></th>
<th><a href="ng-click='x=!x';y='sName'">studentName</a></th>
<th><a href="ng-click='x=!x';y='course'">coures name</a></th>
</tr>
<tr bgcolor="pink" ng-repeat="item in students|orderBy=y=x">
<td>{{item.sId}}</td>
<td>{{item.sName}}</td>
<td>{{item.course}}</td>
</tr>
</table>
</div>
<script>
var obj=angular.module("myApp",[]);
obj.controller("sController",function($scope){
$scope.students=[
{sId:102,sName:"shiva",course:"angularjs"},
{sId:103,sName:"prasad",course:"angular2"},
{sId:104,sName:"kranthi",course:"nodejs"}
];
$scope.x=false;
$scope.y="sId"

});
</script>
</body>
</html>